.archive {
  .page-header {
    border-bottom: 1px dashed #ffffff;
  }
  .post {
    display: grid;
    grid-template-rows: 2fr 1fr;
    border-bottom: 1px dashed #ffffff;

    .entry-content {
      grid-row: 1/2;
      color: white;
      font-size: 1.5rem;
    }

    .entry-header {
      grid-row: 2/3;

      .entry-title {
        margin-top: 0;
        margin-bottom: 0;
      }

      .entry-title a {
        color: white;
        font-size: 1rem;

        &:hover {
          color: white;
        }
      }
    }
  }
}
