.site-header {
  display: grid;
  justify-content: center;

  .link-logo {
    justify-self: center;
  }
}

@media (max-width: 783px) {
  .site-header {
    display: grid;
    justify-content: left;

    .link-logo {
      justify-self: left;
    }
  }
}
